@model DashboardFactoryViewModel

@{ViewBag.Title = string.Concat("(", User.Identity.GetUserName(), ")", " Nrm-S ", " - ",  "Main Dashboard Page");}

<div class="row">
        @{ Html.RenderAction("BuildDashboard", "Home", new { model = Model });}
</div>