@model DashboardFactoryViewModel

@{ViewBag.Title = string.Concat(" SNE-Surveys ", "  |   ", User.Identity.GetUserName() );}

<div class="row">
        @{ Html.RenderAction("BuildDashboard", "Home", new { model = Model });}
</div>