<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="PortalAuth" connectionString="metadata=res://*/EF.Portal.csdl|res://*/EF.Portal.ssdl|res://*/EF.Portal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-DCUSUDST;initial catalog=Portal.Auth;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="WebPortal" connectionString="metadata=res://*/EF.WebPortal.csdl|res://*/EF.WebPortal.ssdl|res://*/EF.WebPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-DCUSUDST;initial catalog=Portal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PortalLsm" connectionString="metadata=res://*/EF.PortalLsm.csdl|res://*/EF.PortalLsm.ssdl|res://*/EF.PortalLsm.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-DCUSUDST;initial catalog=Portal.Lsm;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
